<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To create a new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input name="username" placeholder="enter username"><br><br><br>
        <textarea name="content" placeholder="write ur post"></textarea><br><br>
        <button>Submit post</button>
    </form>
</body>
</html>